@import "./index";
@import "./contact.scss";

.introduction {
	max-width: none;
	background-color: $primary-color;
	color: #fff;
	padding: 1.5rem;

	.content {
		max-width: 700px;
		@extend .grid;
		display: flex;
	}

	h1 {
		margin-top: 0;
	}

	&__ctas {
		display: flex;
	}
	&__ctas > * {
		margin-right: 1rem;
	}
}

// Spacing between sections
#portfolio {
	margin: 0 auto 3rem;
}

#about, #contact {
	margin: 3rem auto;
}

ul {
	padding: 0;
}

@media (max-width: 700px) {
	#portfolio, #about, #contact {
		padding: 0 1.5rem;
	}
}