@import "../../common/mixins";

header {
	display: flex;
	justify-content: space-between;
	padding: 1.5rem;

	background-color: $primary-color;
	border-bottom: 1px solid darken($primary-color, 10%);
}

/* Suggested that this should generally be 250px x 100px */
.home-logo {
	/* Want this to always be the same size, so use px */
	font-size: 35px;
	color: #fff;
	text-decoration: none;
}

.page-links {
	align-self: center;

	&--link {
		color: #fff;
		text-decoration: none;
	}

	&--link:hover {
		text-decoration: underline;
		text-decoration-color: $secondary-color;
	}

	/* Bit of padding between the links */
	a:not(:last-child) {
		padding-right: 1rem;;
	}
}
